<h2><%= title %> </h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Leaving</th>
        <th>Arriving</th>
        <th>Price</th>
        <th>Site</th>
      </tr>
      <% results.each do |x| %>
      <tr>
        <td><%= x[:departure_time] %></td>
        <td><%= x[:arrival_time] %></td>
        <td><%= x[:price] %></td>
        <td><%= x[:company] %></td>
      </tr>
      <% end %>
    </table>
  </div>
