
<%= @origin %>
<% if @roundtrip %>
< - >
<% else %>
- >
<% end %>
<%= @destination %>
<% if @roundtrip %>
from <%= @departure_date %> to <%= @return_date%>
<% else %>
 on <%= @departure_date %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Leaving</th>
      <th>Arriving</th>
      <th>Price</th>
<!--       <th>Pick Up</th>
      <th>Drop Off</th> -->
      <th>Site</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<% @results.each do |x,i| %>
  <tr>
    <td><%= x[:departure_time] %></td>
    <td><%= x[:arrival_time] %></td>
    <td><%= x[:price] %></td>
<!--     <td><#%= x[:pickup] %></td>
    <td><#%= x[:dropoff] %></td> -->
    <td><%= x[:company] %></td>
    <br>
  </tr>
<% end %>
